.adminToolbar {
  display: flex;
  width: 100%;
  height:50px;
  background-color:yellowgreen;
  margin: 0 auto;
  padding: 0 10px;
  color:gold;
      background-color:black;
}

  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    float: center;
  }
    li {
      display: flex;
    }
      a {
        display: flex;
        flex-direction: row;
        font-size: 1.6rem;
        line-height: 1;
        color:gold;
        padding: 10px;
        transition: all .4s ease-in-out;
      }
        a:hover {
          background-color: red;
          color: whitesmoke;
          transition: all .4s ease-in-out;
          height:50px;
        }
            .Icons{
             width: 30px;
             height: 30px;
             color:gold;
             background-color:black;

            } 
      