.main {
   display:block;
   width:100%;
   height: 100%;
   background-color: #000000;
   

}
@media only screen and (max-width: 480px) {
   .main {
      width:auto;
   }
 }

.box{
 position: relative;
 display: flex; 
 top:-250px;
 width:auto;
 height:200px;
 

}

@media only screen and (max-width: 480px) {
   .box {
      width:1600px;
      left:-310px;
      top:-10px;
   }
}

.box1 {
 position: relative;
 width:800px;
 height: 400px;
 left:300px;
 background-repeat:no-repeat;
 background-size: cover;
 
 
}
@media only screen and (max-width: 480px) {
   .box1 {
      width:1450px;
      
   }
}



.box img {
position: relative;
display:block;
float: left;
background-color:black;
background-repeat:no-repeat;
background-size: cover;
color:black;



}

@media only screen and (max-width: 480px) {
   .box img {
      width:1600px;
   }
}



.aboutme {
position: relative;
display: flex;
 width:1450px;
 height:550px;
 top:750px;
 left:-830px;
 background-color: black;
 border:2px solid gold;


}
@media only screen and (max-width: 480px) {
   .aboutme {
      top:1000px;
      width:1450px;
      height: 100%;
      left:-900px;
   }
}



.aboutme img {
 width:1450px;
 height:550px ;
 

}
@media only screen and (max-width: 480px) {
   .aboutme img {
      width:1450px;
      top:0px;
      left:0px;
      background-color: red;
   }
}




.aboutme p {
   position: relative;
   width:500px;
   height:200px;
   left:30px;
   color:gold;
   font-size: 12px;
   background-color: black;
   text-indent: 30px;
  text-transform: uppercase
   
   
   
  }
  @media only screen and (max-width: 480px) {
   .aboutme p {
      width:300px;
      height:300px;
      left:10px;
      font-size:8px;
      background-color: black;
      overflow: hidden;
      scroll-behavior: auto;
   }
}




  .discount {
   position: relative;
   width: 1000px;
   height: 400px;
   top:850px;
   background-color:black;
   border:2px solid gold;

}

@media only screen and (max-width: 480px) {
   .discount {
      width: 1350px;
      top:1200px;
   }
}



.discount img {
 position: absolute;
   
   width:1450px;
   height: 400px;
   left:10px;
   overflow: hidden;
   z-index: inherit;
   background-color:black;
  
}
@media only screen and (max-width: 480px) {
   .discount img {
      width:auto;
   }
}






.happy{
   position: relative;
   width: 100%;
   height: 400px;
   top:850px;
   background-color:black;
   border:2px solid gold;

}
@media only screen and (max-width: 480px) {
   .happy {
      top:1200px;
      width:1350px;
   }
}






.happy .img1 {
    position: relative;
    top:10px;
     width:300px;
     height:300px;
     left:10px;
     background-color:black;
     border-radius:50%;
     border:2px solid gold;

}
@media only screen and (max-width: 480px) {
   .happy .img1  {
      width:200px;
      height:200px;
      top:10px;
      left:0px;
   }
}




.happy .img2 {
   position: relative;
   top:10px;
    width:300px;
    height:300px;
    left:200px;
    background-color:black;
    border-radius:50%; 
    border:2px solid gold;
}

@media only screen and (max-width: 480px) {
   .happy .img2  {
      width:200px;
      height:200px;
      left:200px;
      top:10px;
     
   }
}


.happy .img3 {
   position: relative;
   top:10px;
    width:300px;
    height:300px;
    left:400px;
    background-color:black;
    border-radius:50%;
    border:2px solid gold;
}
@media only screen and (max-width: 480px) {
   .happy .img3  {
      width:200px;
      height:200px;
      left:430px;
      top:10px;
   }
}






.secand {

position:relative;
display:inline;
float:left;
top:850px;
width:1600px;
height:600px;
left:-300px;


}



@media only screen and (max-width: 480px) {
   .secand {
      width:1450px;
      top:1200px;
   }
}





.secand img{
position: relative; 
width: 1600px;
left:30;
min-height: 100px;
left:0;
background-repeat:no-repeat;
background-size: cover;
margin:0;
padding:0;
justify-content: space-between;

}
.secand .carousel-root {
   width:1450px ;
}

@media only screen and (max-width: 480px) {
   .secand img {
      width:1250px;
   }
}




.slider-wrapper  {

  left:30px;
}

@media only screen and (max-width: 480px) {
   .secand .carousel-root {
      width:1350px;
   }
}
