


.directory {
  height: 100%;
  background-color: black;

  @media only screen and (max-width: 480px) {
    .directory {
       width:200%;
       font-size: 0.8rem;
       
    }
 }




  
    .wrap {
      display: flex;
      width: 100%;
      height: 100%;
    background-color: black;

    
    @media only screen and (max-width: 480px) {
      .wrap {
         width:1450px;
         font-size: 0.8rem;
         
      }
   }
  
    
    
    
    
    .item {
      position: relative;
      width: 50%;
      height: 50%;
      float: left;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: black;
   
      @media only screen and (max-width: 480px) {
        .item {
           
           font-size: 0.8rem;
           
        }
     }
    
      
      
      
      
      
      &::after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        background-color: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;
        z-index: 0;
      }

      a {
        position: absolute;
        top: 20px; left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 1rem;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        background:black;
        color:white;
        padding: 10px 15px;
        border: 1px solid gold;

        &:hover {
          background: black;
          
        }
      }
        @media only screen and (max-width: 480px) {
          a {
             width:auto;
             top:15px;
             font-size: 0.5rem;
             
             
          }
       }
      
      
      
      
      

    }
  }

}