
      @media only screen and (max-width: 600px) {
        #btn1 {
           width:-300px;
           height: 20px;;
        
           
        }
      }

.admin {
  padding: 0 10px;

  .callToActions {
    display: inline-block;
    width: 80%;
    padding: 0;
    height:60% ;
    margin: 0 auto;

    ul, li {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    ul {
      li {
        display: inline-block;

      }
    }

  }
}

.manageProducts {

  h1 {
    margin-top: 1.5rem;
  }

  table.results {
    tr {
     width:40%;
     height:40%;
      &:nth-child(even) {
        color:black;
      background-color: gold;
      }

      .thumb {
        width: 10.0rem;
        margin: 0 auto;
     
      }

    
    
    
    
    
    }
  }
}